.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-dialog {
    margin: 15% auto;
    width: 80%;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.modal-header,
.modal-body {
    padding: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.comment-section {
    margin-top: 20px;
}

.comment-input {
    width: calc(100% - 60px);
    padding: 10px;
    margin-right: 10px;
}

.comments-list {
    margin-top: 10px;
}
.like-button {
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}
.likes-container {
    display: flex;
    align-items: center;
}

.like-count {
    margin-left: 8px;
}
.like-button.liked {
    background-color: #ff4500;
    color: white;
}